*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
a{
    text-decoration: none;
    color: black;
}
ul{
   list-style-type: none;
}
body{
    color: black;
}
.flex{
    display: flex;
}

.btn{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 10px;
    margin: 15px;
}
.second-btn{
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
}
.cont-main-two .tabella .cont-tabella-bottom .check,
.cont-main-two .tabella-quattro .cont-tabella-bottom,
.testo-cont {
    line-height: 30px;
}

.cont-main-two{
    max-width: 1000px;
    margin: 200px auto;
    

    
 }
/* typo */
body{
    font-family: 'Nunito Sans', sans-serif;
}

/* header */
header{
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 2;
    background-color: white;

}
.nav{
    justify-content: space-between;
    align-items: center;
    
}

.nav-lista{
    margin-left: 15px;
    font-size: 18px;
   
}
.nav .nav-lista li *{
    margin-right: 15px;
} 
.nav .nav-lista li:hover{
    border-bottom: 2px solid black;
    
}

.logo{
    vertical-align: middle;
}


/* main */

main{
   padding-top: 80px;
   text-align: left;
}
.color{
    background-color: #b4d0e7;
    

}
.cont-main-one{
   padding-top: 40px;
   /* cambia */
   max-width: 1200px;
   margin:0 auto; 
}
main .cont-main-one h1{
    font-size: 77px;
    line-height: 1em;
    width: 100%;
    
}
.destra-sinistra{
    display: flex;
    position: relative;
    top: 80px;
}
.main-cont-destra{
    width: 40%;
}
.main-cont-sinistra{
    width: 60%;

}
.btn-mod{
    margin: 0 0 15px 0;
}
.img{
    width: 100%;
}

.main-cont-destra > *{
    padding-bottom: 15px;
    line-height: 25px;

}

.entity{
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px ;
}


/* second section */



.cont-main-two h2{
    font-size: 30px;
    padding-bottom: 30px;
}

/* radio input */
.cont-radio{
    display: inline-flex;
}
.radio{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.radio-input{
    display: none; 
}

.radio-radio{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid rgb(195, 195, 255);
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.radio-radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0d2481;
    border-radius: 50%;
    transform:scale(0) ;
}

.radio-input:checked + .radio-radio::after {
    transform: scale(1);
}
/* /radio input */
.tabelle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.tabella{
    width: 30%;
    border:1px solid black ;

}

.tabella-quattro{
    width: 100%;
    border:1px solid black ;
    margin-top: 30px;
}

.cont-tabella-top{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.cont-tabella-bottom{
    padding: 20px 20px;
}

.mese{
    color: lightgray;
    padding-bottom: 40px;
}

.btn-mod-due{
     margin: 40px 5px;
}

.cont-main-two .tabella .cont-tabella-bottom a{
    text-decoration: underline;
    color: blue;
}

.cont-main-two .tabella .cont-tabella-bottom hr{
    width: 40%;
    margin: 20px 0;
}
.cont-main-two .tabella .cont-tabella-bottom .check i{
    color: blue;
}

.cont-main-two .tabella-quattro .cont-tabella-bottom p{
    padding-top: 40px;
    color: rgb(163, 169, 175);
}


.cont-main-two .tabella-quattro .cont-tabella-bottom h3,
.testo-cont h3,
#section-five h3{
    font-size: 30px;
    padding: 20px 0;

}


.cont-main-two .tabella-quattro .cont-tabella-bottom {
    justify-content: space-between;

} 

/* fine seconda sezione */

/* terza sezione main */

.imagine{
    width: 60%;
}
.imagine img{
    width: 100%;
}
.testo-cont{
    width: 40%;
    padding: 40px 30px;
}
/* fine terza sezione main */


#section-four h2{
    text-align: center;
}

.cont-box{
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 30%; 
}

#section-four .cont-box .box img{
    width: 100%;
}

#section-four .cont-box .box p{
    padding: 20px 0;
}


/* section five */

#section-five a{
    text-decoration-line: underline;
    color: blue;
}

/* section six */


#section-six{
    height: 100vh;
    flex-wrap: wrap;

}


.colon{
    width: calc(100% / 3); 
    height: calc(100vw / 3);
    background-color: rgb(230, 228, 228);
    height: 60vh;
    flex-wrap: wrap;

}
.colon-bottom{
    width: 100%;
    background-color: #b4d0e7;
    height: 40%;
    justify-content: center;
    align-items: center;
    
} 

.center{
    padding: 20px;
}

.center > *{
    margin-bottom: 30px;
}

.colon-cont{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colon-cont img{
    filter: invert(100%);
    width: 50%;
}
/* .colore-speciale{
    padding: 5px;
    background-color: green;
} */
 
#logo-one{
    background-color:#c7efc2;
}
.colore-spec{
    height: 90%;
    width: 90%;
    background-color:#a2d39b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-two{
    background-color:#61082b;
}

#logo-three{
    background-color:#0093ce;
}

#logo-four{
    background-color: #ff1c1c;
}

#section-six .center img{
    width: 60%;
}

#section-six .center hr{
   width: 30%;
   margin: 40px 0;
}

#logo-five{
    background-color:#d5001f;
}

#logo-six{
    background-color: #b4d0e7;
}

#logo-seven{
    background-color: #0d2481;
}

#logo-eight{
    background-color: #ffd830;
}

.btn-three{
    background-color: #ffffff;
    border: 0;
    padding: 10px;
    height: max-content;
    margin-left: 40px;
}

.colon-bottom h2{
    color: #61082b;
    width: 25%;
    font-size: 40px;
}

/* section seven */

#section-seven hr{
    margin: 30px 0;
}

#section-seven .flex i{
    margin-left: 30%;
}
.hover{
    display: none;
}
.hover-box:hover > .hover{
    display: block;
}
/* footer */
footer{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 80px;
   
} 

.footer{
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.footer > *{
    margin: 60px;
}
.footer h3{
    padding-bottom: 30px;
}
.footer ul li{
    line-height: 35px;
}
footer  hr{
    width: 10%;
    margin-left: 60px;
}
.footer-bottom{
    padding-top: 40px;
    max-width: 1000px;
    margin-left: 60px;
}

.footer-bottom > *{
    margin-right: 10px;
    vertical-align: middle;
} 
