*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
a{
    text-decoration: none;
    color: black;
}
ul{
   list-style-type: none;
}
body{
    color: black;
}
.flex{
    display: flex;
}

.btn{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 10px;
    margin-left: 15px;
}
/* typo */

/* header */
.nav{
    padding: 20px;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.nav-lista{
    gap: 15px;
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    /* white-space: nowrap; */
}

.logo{
    width: 150px;
}


/* main */

main{
   background-color: #b4d0e7;
   height: 600px;
   text-align: left;
}

.cont-main-one{
   padding-top: 40px;
   width: 80%;
   margin:0 auto; 
}
main .cont-main-one h1{
    font-size: 4em;
    line-height: 1em;
    
}
.destra-sinistra{
    display: flex;
    position: relative;
    top: 100px;
}
.main-cont-destra{
    width: 40%;
}
.main-cont-sinistra{
    width: 60%;

}
.btn-mod{
    margin: 0 0 15px 0;
}
.img{
    width: 100%;
}

.main-cont-destra > *{
    padding-bottom: 15px;
    line-height: 25px;

}

.entity{
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px ;
}


/* second section */

.cont-main-two{
   width: 70%;
   margin: 200px auto;
   height: 800px;
   
}

.cont-main-two h2{
    font-size: 30px;
}
.cont-main-two> *{
padding-bottom: 30px;
}

.tabelle{
    display: flex;
    width: 100%;
    gap: 10px;
}

.tabella{
    width: calc(100% / 3);
    border:1px solid black ;

}

.tabella-quattro{
    width: 100%;
    border:1px solid black ;
}

.cont-tabella-top{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.cont-tabella-bottom{
    padding: 20px 20px;
}

.mese{
    color: lightgray;
    padding-bottom: 40px;
}

.btn-mod-due{
     margin: 40px 5px;
}

.cont-main-two .tabella .cont-tabella-bottom a{
    text-decoration: underline;
    color: blue;
}

.cont-main-two .tabella .cont-tabella-bottom hr{
    width: 40%;
    margin: 20px 0;
}
.cont-main-two .tabella .cont-tabella-bottom .check i{
    color: blue;
}

.cont-main-two .tabella .cont-tabella-bottom .check,
.cont-main-two .tabella-quattro .cont-tabella-bottom {
    line-height: 30px;
}

.cont-main-two .tabella-quattro .cont-tabella-bottom p{
    padding-top: 40px;
    color: rgb(163, 169, 175);
}


.cont-main-two .tabella-quattro .cont-tabella-bottom h3 {
    font-size: 30px;
    padding-bottom: 10px;

}

.cont-main-two .tabella-quattro .cont-tabella-bottom button {
    position: relative;
    bottom: 135px;
    left: 780px;
}

/* fine seconda sezione */