*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
a{
    text-decoration: none;
    color: black;
}
ul{
   list-style-type: none;
}
body{
    color: black;
}
.flex{
    display: flex;
}

.btn{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 10px;
    margin-left: 15px;
}
/* typo */

/* header */
.nav{
    height: inherit;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    /* position: fixed;
    top: 0;
    left: 0; */
}

.nav-lista{
    gap: 15px;
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    white-space: nowrap;
}



/* main */

main{
   background-color: #b4d0e7;
   height: 600px;
}

.cont-main{
   padding-top: 40px;
   width: 80%;
   margin:0 auto;
   text-align: left;
}
main .cont-main h1{
    font-size: 4em;
    line-height: 1em;
    
}
.destra-sinistra{
    display: flex;
    position: relative;
    top: 100px;
}
.main-cont-destra{
    width: 40%;
}
.main-cont-sinistra{
    width: 60%;

}
.btn-mod{
    margin: 0 0 15px 0;
}
.img{
    width: 100%;
}

.main-cont-destra > *{
    padding-bottom: 15px;
    line-height: 25px;

}

.entity{
    font-size: 35px;
    font-weight: bolder;
    padding-top: 25px ;
}
